@media (max-width: 767px) {
  .portfolio-grid {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 768px) {
  .portfolio-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.portfolio-grid {
  display: grid;
  row-gap: 1rem;
  padding-bottom: 2rem;
}